################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrePassHackathonTeamEApi/.vs
/PrePassHackathonTeamEApi/bin/Debug/net9.0
/PrePassHackathonTeamEApi/obj
/PrePassHackathonTeamEApi/PrePassHackathonTeamEApi.csproj.user
